<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.dao.PasswordDOMapper">
  <resultMap id="BaseResultMap" type="com.wy.dataobject.PasswordDO">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="encrpt_password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="member_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, encrpt_password, user_id, member_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_password
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByMemberId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_password
    where member_id = #{memberId,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_password
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_password
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wy.dataobject.PasswordDO">
    insert into tb_password (id, encrpt_password, user_id, 
      member_id)
    values (#{id,jdbcType=BIGINT}, #{encrptPassword,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{memberId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wy.dataobject.PasswordDO">
    insert into tb_password
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="encrptPassword != null">
        encrpt_password,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="encrptPassword != null">
        #{encrptPassword,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wy.dataobject.PasswordDO">
    update tb_password
    <set>
      <if test="encrptPassword != null">
        encrpt_password = #{encrptPassword,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByMemberId" parameterType="com.wy.dataobject.PasswordDO">
    update tb_password
    <set>
      <if test="encrptPassword != null">
        encrpt_password = #{encrptPassword,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.wy.dataobject.PasswordDO">
    update tb_password
    set encrpt_password = #{encrptPassword,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>